*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:linear-gradient(135deg,#0f172a,#1e293b);
    color:white;
    padding:30px;
}

h1{
    text-align:center;
    margin-bottom:40px;
    font-size:40px;
    color:#38bdf8;
}

.container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(350px,1fr));
    gap:25px;
}

.card{
    background:#1e293b;
    padding:25px;
    border-radius:20px;
    box-shadow:0 0 15px rgba(0,0,0,0.5);
    transition:0.3s;
}

.card:hover{
    transform:scale(1.02);
}

.card h2{
    margin-bottom:20px;
    color:#38bdf8;
}

input,
select{
    width:100%;
    padding:12px;
    margin:8px 0;
    border:none;
    border-radius:10px;
    outline:none;
    font-size:15px;
    background:#e2e8f0;
}

button{
    width:100%;
    padding:12px;
    margin-top:10px;
    border:none;
    border-radius:10px;
    background:#38bdf8;
    color:white;
    font-size:16px;
    cursor:pointer;
    transition:0.3s;
    font-weight:bold;
}

button:hover{
    background:#0ea5e9;
}

.resultado{
    margin-top:15px;
    background:#0f172a;
    padding:12px;
    border-radius:10px;
    min-height:40px;
    border:1px solid #38bdf8;
    line-height:1.5;
}

@media(max-width:768px){

    body{
        padding:15px;
    }

    h1{
        font-size:28px;
    }

}